# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
**/node_modules/
# StripeTastic/.idea
# StripeTastic/cmake-build-doit-production
# StripeTastic/cmake-build-debug
# StripeTastic/cmake-build-doit-esp-prog-debug
# StripeTastic/cmake-build-default
# StripeTastic/cmake-build-*
.pio
StripeTastic/.vscode
StripeTasticPWA/obj/**
.vs
.vscode
StripeTastic.Client/obj
StripeTastic.Client/bin
StripeTastic.Firmware/data
#Junk Files
*.DS_Store
[Tt]humbs.db

#Visual Studio Files

*.user
*.suo
*.exe
*.pdb
*.aps
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.cache
*.Cache
*.ncb
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/
*.dbmdl
*.csproj.user
*.cache
*.swp
*.vspscc
*.vssscc
*.bak.*
*.bak
