html {
  font-family: Helvetica;
  display: inline-block;
  margin: 0px auto;
  text-align: center;
}

h1 {
  color: #0f3376;
  padding: 2vh;
}

p {
  font-size: 1.5rem;
}

.button {
  display: inline-block;
  background-color: #008cba;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 16px 40px;
  text-decoration: none;
  font-size: 30px;
  margin: 2px;
  cursor: pointer;
}

.button2 {
  background-color: #f44336;
}

#ah-container {
  width: 200px;
  height: 200px;
  display: block;
  position: absolute;
  z-index: 9999;
  background: #f44336;
  transition: all 500ms;
  opacity: 1;
}

#ah-container.ah-alert {
  float: left;
  width: 100%;
  min-height: 30px;
}

#ah-container.ah-alert.visible {
  opacity: 1;
}
